<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <title>TaskMasters</title>
  <link rel="stylesheet" type="text/css" href="/boards.css">
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>

  <div id="Header" >
    <h1 id="Heading">My Boards</h1>
  </div>

  <div id="boards">

  </div>
  <input type="text" id="title" name="title" placeholder="Enter Title"><br>
  <input type="text" id="description" name="description" placeholder="Enter Decstiption"><br>
  <button type="button" onclick="return createBoard(event)">CREATE BOARD</button>
  <img id="background" src="/background.jpg" alt="city View">
  <script src="/boards.js"></script>

</body>

</html>
