<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <title>TaskMasters</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" type="text/css" href="/board.css">

</head>

<body>

  <div id="Header" >
    <h1 id="Heading"> </h1>
  </div>

  <div class="board" id="board">
  </div>
  <div class="createTaskContainer">
    <input type="text" id="newListTitle" name="title" placeholder="Enter Title"><br>
    <div class="listWrapper" id="listWrapper">
    </div>
    <input type="date" id="deadline">
    <button type="button" class="button" onclick="return createList(event)">CREATE TASK</button>
  </div>
  <img id="background" src="/background.jpg" alt="city View">
  <script src="/board.js"></script>
</body>

</html>
