<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <title>TaskMasters</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="manifest" href="/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <div id="Header" >
    <h1 id="Heading">Welcome to TaskMasters</h1>
  </div>

  <div id="content">
      <div id="login">
        <h2 id="signIn"> Sign in here!</h1>
        <form onsubmit="return logIn(event)">
          <input id="username" type="text" name="Username" placeholder="Enter your username">
          <input id="password" type="password" name="Password" placeholder="Enter your password">
          <button class="button" type="submit" onclick="return logIn(event)">SIGN IN</button>
        </form>
        <p id="signUpFont"><a href="/register">Not a user? sign up here</a></p>
      </div>
    </div>
  <img id="background" src="/background.jpg" alt="city View">
  <script src="/script.js"></script>
</body>

</html>
