#boards {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 500px) {
  #boards {
    padding-right: 0;
  }
}

.newBoard {
  width: 200px;
  margin: 30px;
  padding: 30px;
  background-color: #00a4bc;
}

@media only screen and (max-width: 500px) {
  .newBoard {
    margin: 13px auto;
  }
}

.board {
  border: solid 3px white;
  box-sizing: border-box;
  height: 300px;
  min-width: 200px;
  max-width: 200px;
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .board {
    margin: 10px auto 0px;
  }
}

#deleteButton {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #ed5e68;
  border-color: #ed5e68;
  color: white;
}

#addButton {
  background-color: #a0b855;
  border-color: #a0b855;
  color: white;
}

.board:hover {
  box-sizing: border-box;
  border: solid 3px black;
  cursor: pointer;
}

.boardTitle {
  color: white;
  margin: auto 0;
  text-align: center;
  margin-top: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 15px;
}

.description {
  color: white;
  margin: 15px;
  font-size: 1.2em;
}
