.list {
  width: 300px;
  margin: 30px;
  padding: 30px;
}

.listTitle {
  color: white;
  margin: 0;
}

.todoList {
  color: white;
  margin: 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.datedue {
  color: white;
}

.dateoverdue {
  color: red;
}

.createTaskContainer {
  background-color: #00a4bc;
  width: 300px;
  margin: 30px;
  padding: 30px;
}

.todonotDone {
}

.tododone {
  color: green;
  text-decoration: line-through;
}
