.list {
  width: 300px;
  margin: 30px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding: 30px;
  height: fit-content;
}

.listTitle {
  color: white;
  margin: 0;
}

.todoList {
  color: white;
  margin: 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
}

.datedue {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.dateoverdue {
  color: #ed5e68;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.createTaskContainer {
  background-color: #00a4bc;
  max-width: 300px;
  margin: 30px;
  padding: 30px;
}

.todonotDone {
}
.todonotDone:hover {
  cursor: pointer;
}

.tododone {
  color: green;
  text-decoration: line-through;
}
.tododone:hover {
  cursor: pointer;
}
#deleteButton {
  background-color: #ed5e68;
  border-color: #ed5e68;
  color: white;
}

#addButton {
  background-color: #a0b855;
  border-color: #a0b855;
  color: white;
}
